*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.header-item{
    padding: 10px;
}
.list-header{
    padding: 10px;
}
.header-title{
    color: #333D4B;
}
.header-link{
    color: grey;
}
.header-link:hover{
    color: #333D4B;
}
.main-flex{
    margin-top: 40px;
    padding-top: 100px;
    padding-left: 50px;
    background-image: url(./images/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -150px;
    border-radius: 15px;
        
}

.main-title{
    color: white;
    font-size: 70px;
    width: 50%;
    letter-spacing: 2px;
}
.main-text{
    padding-bottom: 60px;
    padding-top: 40px;
    font-size: 22px;
    line-height: 30px;
    color: #CFD0CD;
    width: 35%;
}
.main-btn{
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: #0E8784;
    color: white;
    border-radius: 10px;
    border: 2px solid #0E8784;

}
.main-item{
    padding-bottom: 100px;
}
.main-btn:hover{
    background-color: thistle;
    color: black;
}

.sector-flex{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-image: url(./images/Group\ 13.png);
    background-repeat: no-repeat;
    background-position-y: 10%;
}

.sector-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: 10px;

}
.sector-item{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sector-title{
    padding-top: 15px;
    font-size: 30px;
    color: #2B333F;
}
.sector-text{
    color: #2B333F;
    line-height: 30px;
    font-size: 20px;
}
.box-flex{
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B333F;
    border-radius: 10px;
    padding-bottom: 100px;
}
.box-list{
text-align: center;
}
.box-title{
    padding-top: 20px;
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}
.box-text{
    font-size: 20px;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 30px;
    color: grey;
    padding-bottom: 50px;
}
.box-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot-list{
    display: flex;
   flex-direction: column;
   background-color: #0E8784;
   margin: 10px;
   padding: 20px;
   border-radius: 10px;
   width: 300px;
}
.foot-item{
    padding: 10px;
}
.foot-title{
    color: thistle;
    font-size: 27px;
}
.foot-text{
    color: whitesmoke;
    width: 80%;
    align-items: center;
    padding-left: 50px;
}
.foot-flex{
    display: flex;
    justify-content: space-evenly;
 
    align-items: center;
    position: relative;
    top: 112%; 
}
.segment-title{
    font-size: 30px;
    color: grey;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 10px;
}
.char-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.char-text{
    width: 70%;
}
.chart-list{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.char-item{
    padding: 15px;
}
.char-title{
    font-size: 35px;
    width: 50%;
    color: darkslategrey;
}
.char-text{
    font-size: 14px;
    line-height: 20px;
    color: grey;
}
.char-btn{
    width: 150px;
    height: 30px;
    background-color: darkslategray;
    color: white;
    border-radius: 6px;
    border: 2px solid darkslategray;
}
.char-btn:hover{
    background-color: darkturquoise;
    color: black;
}
.footer-img{
    background-color: black;
}
.footer-flex{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkslategray;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-item{
    padding: 10px;
}
.footer-link{
    color: grey;
}
.footer-title{
    color: white;
}
.header-img{
    width: 30px;
}

@media(max-width:1160px){
    .container{
        width: 1000px;
    }
    .header-img{
        display: none;
    }
}

@media(max-width:1020px){
    .container{
        width: 900px;
    }
    .main-title{
        font-size: 60px;
    }
    .main-text{
        font-size: 20px;
    }
    .main-flex{
        background-image: url(./images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -250px;
        border-radius: 15px;
    }
    .sector-text{
        font-size: 15px;
    }
    .sector-img{
        width: 200px;
    }
    .char-title{
        font-size: 30px;
    }
}

@media(max-width:920px){
    .container{
        width: 800px;
    }
    .main-text{
        font-size: 17px;
    }
    .sector-img{
        width: 180px;
    }
    .char-title{
        font-size: 25px;
    }
    .char-text{
        font-size: 13px;
    }
    .foot-title{
        font-size: 22px;
    }
    .foot-text{
        font-size: 15px;
    }
    .sector-flex{
         
    background-image: url(./images/Group\ 13.png);
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-size: 100%;
    }
}

@media(max-width:820px){
    .container{
        width: 700px;
    }
    .main-title{
        font-size: 50px;
    }
    .main-text{
        width: 60%;
    }
    .main-flex{
        background-position-x: -130px;
    }
    .sector-flex{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .foot-flex{
        display: flex;
        flex-direction: column;
    }
    .foot-list{
        width: 600px;
    }
    .foot-text{
        padding-left: 100px;
    }
    .foot-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .foot-img{
        width: 80px;
    }
    .box-text{
        font-size: 15px;
    }
    .char-title{
        font-size: 20px;
    }
    .char-icon{
        width: 20px;
    }
    .char-img{
        width: 70px;
    }
    .char-text{
        font-size: 10px;
    }
    .char-btn{
        width: 100px;
        font-size: 10px;
    }
    .footer-link{
        font-size: 14px;
    }
    .footer-img{
        width: 20px;
    }
    .footer-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-link{
        font-size: 20px;
    }
    .sector-flex{
         
    background-image: url(./images/Group\ 13.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 25%;
    }


}

@media(max-width:720px){
    .container{
        width: 600px;
    }
    .main-title{
        font-size: 35px;
    }
    .main-text{
        font-size: 16px;
    }
    .main-flex{
        background-image: url(./images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size: 170%;
        border-radius: 15px;
    }
    .sector-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }
    .sector-list{
        width: 40%;
    }
    .sector-img{
        width: 200px;
    }
    .header-img{
        display: none;
    }
}

@media(max-width:620px){
    .container{
        width: 500px;
    }
    .foot-list{
        width: 400px;
    }
    .header-img{
        display: inline;
       margin-right: 10px; 
    }
    .header-link{
        display: none;
    }
    .main-flex{
        background-image: url(./images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
        border-radius: 15px;
        background-position-x: -200px;
    }
    .box-text{
        font-size: 10px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
     .char-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .char-list{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
    }
    .char-title{
        width: 120%;
        font-size: 30px;
    }
    .char-text{
        width: 300px;
        font-size: 18px;
        line-height: 25px;
        align-items: center;
        text-align: center;
    }
    .button-flex{
        text-align: center;
         align-items: center;
    }
    .char-btn{
        width: 150px;
        height: 33px;
        font-size:15px;
    }
    .footer-item{
        padding: 10px;
    }
}

@media(max-width:520px){
    .container{
        width: 400px;
    }
    .main-flex{
        background-image: url(./images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size: 220%;
        border-radius: 15px;
        background-position-x: -200px;
    }
    .main-title{
        font-size: 25px;
    }
    .main-text{
        font-size: 12px;
    }
    .main-btn{
        width: 100px;
        height: 22px;
        font-size: 10px;
        padding-top: 0px;
        margin-top: 0px;
    }
    .sector-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .sector-list{
        width: 80%;
    }
    .sector-img{
        width: 250px;
    }
    .sector-text{
        font-size: 20px;
    }
}
@media(max-width:420px){
    .container{
        width: 300px;
    }
    .main-flex{
        background-image: url(./images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size:400%;
        border-radius: 15px;
        background-position-x: -500px;
        background-size: cover;
    }
    .main-title{
        width: 80%;
    }
    .foot-list{
        width: 200px;
    }
    .foot-text{
        width: 100%;
            display: none;
    }
    .segment-title{
        margin-left: 70px;
    }
    .footer-link{
        font-size: 15px;
    }
    .header-title{
        font-size: 22px;
    }
    .header-icon{
        width: 18px;
    }
    .header-img{
        width: 20px;
    }
    .header-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .char-text{
        font-size: 15px;
    }

}

